@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

/* ---------------- THEME ---------------- */

:root {
  /* MAIN COLOR SYSTEM */
  --tmain: #fd8b00;

  /* BACKGROUNDS */

  --surface: #e4b896;
  --surface-container: rgb(15, 23, 42);
  --surface-container-low: #2f4063;
  --surface-container-lowest: #521a1a;

  --white: #ffffff;
  --black: #000000;

  --grid-color: rgb(15, 23, 42,0.1);

  --color-primary: #8c4a00;
  --color-primary-dim: #7b4000;
  --color-primary-container: #fd8b00;
  --color-on-primary-container: #442100;
  
  --color-secondary: #755700;
  --color-secondary-container: #ffca4d;

}

.dark {
  --tmain: #3fdabb;
  --tmain-dim: #000000;

  --grid-color: rgba(232, 232, 232, 0.1);

  --surface: #0b121e;
  --surface-container: #1e293b;
  --surface-container-low: #111827;
  --surface-container-lowest: #020617;
}

/* ---------------- BASE ---------------- */

@layer base {
  body {
    background-color: var(--surface);
    color: var(--tmain);
    transition: background-color 0.3s ease, color 0.3s ease;

    /* subtle grid */
    background-image: 
      linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,0.03) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

/* ---------------- COMPONENTS ---------------- */

@layer components {
  .btn-sticker {
    @apply relative font-black transition-all active:translate-y-1 active:shadow-none;
    box-shadow: 0 4px 0 0 var(--tmain);
  }

  .btn-sticker:hover {
    box-shadow: 0 6px 0 0 var(--tmain);
  }
}

/* ---------------- UTILITIES ---------------- */

.text-tmain {
  color: var(--tmain);
}

.text-surface-container {
  color: var(--surface-container);
}
.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.bg-tmain {
  background-color: var(--tmain);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-surface-container {
  background-color: var(--surface-container);
}

.bg-surface-container-low {
  background-color: var(--surface-container-low);
}

.bg-surface-container-lowest {
  background-color: var(--surface-container-lowest);
}

